footer.page-footer 
   section.page-footer__video
      .video__wrapper
         .video__box
            h3.video__title We Make Testy Food Everyday 
            p.video__text If you are going to use a passage of you need tobe sure there isn't anything embarrassing hiddenin the middle of text.
         .video__wrapper-movie 
            a.video__link(href="https://www.youtube.com/", aria-label="link of video")
               svg.video__icon(width="25", height="25") 
                  use(xlink:href="./img/sprite.svg#play")
            span.video__text-intro 20 Minutes Intro
   .page-footer__information
      .page-footer__wrapper-social 
         img.page-footer__logo(src="./img/hotte-logo.svg", alt="Hotte Logo", width="130",height="130")
         span.page-footer__line
         p.page-footer__text-one If you are going to use a passage of need to be sure there isn't anything hidden in the middle text.
         p.page-footer__text-two If you are going to use a passage of need to be sure there isn't.
         .page-footer__box-social 
            a.page-footer__link-fc(href="https://www.facebook.com/", aria-label="link of facebook")
               svg.page-footer__icon(width="20", height="20")
                  use(xlink:href="./img/sprite.svg#fc")
            a.page-footer__link-pin(href="https://www.pinterest.ru/", aria-label="link of pinterest")
               svg.page-footer__icon(width="20", height="20")
                  use(xlink:href="./img/sprite.svg#pin")
            a.page-footer__link-drb(href="https://dribbble.com/", aria-label="link of dribble")
               svg.page-footer__icon(width="20", height="20")
                  use(xlink:href="./img/sprite.svg#drb")
            a.page-footer__link-tw(href="https://twitter.com/", aria-label="link of twitter")
               svg.page-footer__icon(width="20", height="20")
                  use(xlink:href="./img/sprite.svg#tw")
      .page-footer__contacts-wrapper 
         h4.page-footer__title-contact Contact Us: 
         svg.page-footer__stick(width="150", height="70") 
            use(xlink:href="./img/sprite.svg#stick")
         .page-footer__box-info 
            .page-footer__container 
               a.page-footer__link(href="#", aria-label="a telephone of Hotte burger")
                  svg.page-footer__icon-tel(width="15", height="15")
                     use(xlink:href="./img/sprite.svg#phone")
               p.page-footer__text.page-footer__text--big +02 697 864 56<br>+880 659 468
            .page-footer__container 
               a.page-footer__link(href="#", aria-label="a email of Hotte burger")
                  svg.page-footer__icon-mail(width="15", height="15")
                     use(xlink:href="./img/sprite.svg#mail")
               p.page-footer__text support@gmail.com hotte24@gmail.com
            .page-footer__container 
               a.page-footer__link(href="#", aria-label="a address of Hotte burger")
                  svg.page-footer__icon-address(width="15", height="15")
                     use(xlink:href="./img/sprite.svg#point")
               address.page-footer__text 855 Road, Brooklyn StreetNew York 600, Baraboo,Wisconsin(WI)
      .page-footer__hours-wrapper
         .page-footer__hours-circle 
         h4.page-footer__hours-title Opening Hours: 
         .page-footer__box-hours 
            .page-footer__wrapper-day 
               span.page-footer__day Sunday
               span.page-footer__dashed.page-footer__time--red _ _ _ _ _ _ _
               time.page-footer__time.page-footer__time--red Closing Day
            .page-footer__wrapper-day 
               span.page-footer__day Monday
               span.page-footer__dashed _ _ _ _ _ _ _
               time.page-footer__time 8 am - 10 am  
            .page-footer__wrapper-day 
               span.page-footer__day Tuesday
               span.page-footer__dashed _ _ _ _ _ _ _
               time.page-footer__time 8 am - 10 am   
            .page-footer__wrapper-day 
               span.page-footer__day Wednesday
               span.page-footer__dashed _ _ _ _ _ _ _
               time.page-footer__time 8 am - 10 am   
            .page-footer__wrapper-day 
               span.page-footer__day.page-footer__time--org Thursday
               span.page-footer__dashed.page-footer__time--org _ _ _ _ _ _ _
               time.page-footer__time.page-footer__time--org 8 am - 10 am   
            .page-footer__wrapper-day 
               span.page-footer__day Friday
               span.page-footer__dashed _ _ _ _ _ _ _
               time.page-footer__time 8 am - 10 am   
            .page-footer__wrapper-day 
               span.page-footer__day Saturday  
               span.page-footer__dashed _ _ _ _ _ _ _
               time.page-footer__time 8 am - 10 am 
   .page-footer__copyright
      .page-footer__wrapper-copyright 
         p.page-footer__copyright-text Copyright 2020. All Rights Reserved.
         p.page-footer__copyright-policy Terms &amp Conditions   |   Privacy Policy                                                                                               