header.page-header
   .page-header__wrappers
      .page-header__container
         a.page-header__img-wrapper(href="index.html", aria-label="a logo of Hotte")
            img.page-header__img(src="./img/hotte-logo.svg", alt="a logo Hotte", width="65", height="65")
         div.page-header__wrapper
            div.page-header__clock-container
               svg.page-header__clock(width="16" height="16")
                  use(xlink:href="./img/sprite.svg#clock")
               |
               |
               span.page-header__text Open Now
            p.page-header__time-box
               time.page-header__times 8 am
               |
               |
               span.page-header__dash
               time.page-header__times 10 am
         button.page-header__menu(aria-label="a button of menu")
            |
            span.page-header__line.page-header__line--open
      nav.page-header__nav.no-js
         ul.page-header__list.page-header__list--no-js
            li.page-header__item
               |
               | 
               a.page-header__link(href="index.html") Home
            li.page-header__item
               |
               |
               a.page-header__link(href="about.html") About
            li.page-header__item.page-header__item--grow.page-header__item--top
               |
               |
               a.page-header__link(href="news.html") News 
            li.page-header__item 
               |
               |
               a.page-header__link(href="blog.html") Blog 
            li.page-header__item 
               |
               |
               a.page-header__link(href="contact.html") Contact 
            li.page-header__item.page-header__item--grow 
               |
               |
               a.page-header__link.page-header__link--phone(href="tel: +2 364 98 672") +2 364 98 672            