extends ./../main/_main.pug

block variables 
    - const title = "Hotte | Error"

block main 
   section.previews
      .previews-wrapper 
         h2.previews-title 404_Error : (
   section.error
      picture
         source(type="image/webp", srcset="../../img/img-error.png") 
         img.error__img(src="../../img/img-error.png", loading="lazy", alt="a picture of error 404", width="280", height="132")
      h3.error__title Sorry, This page in not found.
      p.error__text There are many variations of passages of Lorem Ipsum availablebut majority have suffered alteration injected humour.
      a.error__link(href="index.html") Back To Home
            