$basic-grey: #171717;
$basic-dark-grey: #101010;
$basic-green: #A0CC3A;
$basic-orange: #FF702A;
$basic-peachy: #FFA77B;
$basic-red: #CC0E15;
$basic-pink: #FEEEE7;

$tablet: 768px;
$mini-desktop: 1300px;