.regular-menu {
   padding: 0 20px;
   margin-bottom: 50px;

   font-family: "Poppins", sans-serif;
   text-align: center;

   .regular-menu__title {
      font-size: 40px;
      font-weight: 700;
      line-height: 45px;

      margin-bottom: 15px;
   }

   .regular-menu__text {
      max-width: 500px;
      margin: 0 auto;

      font-size: 17px;
      font-weight: 500;
      line-height: 30px;

      margin-bottom: 40px;
   }
}

@media (min-width: $mini-desktop) {
   .regular-menu {

      .regular-menu__title {
         max-width: 400px;
         margin: 0 auto 20px auto;

         font-size: 45px;
         line-height: 55px;
      }

      .regular-menu__text {
         max-width: 600px;
         margin-bottom: 70px;
      }
   }
}

.regular-menu__wrapper {
   display: grid;
   grid-template-columns: 1fr;
   
   margin: 0 auto;

   text-align: left;
}

@media (min-width: $tablet) {
   .regular-menu__wrapper {
      grid-template-columns: 1fr 1fr;

      max-width: 1000px;
   }
}

@media (min-width: $mini-desktop) {
   .regular-menu__wrapper {
      grid-template-columns: 1fr 1fr 1fr;

      max-width: 1300px;
   }
}

.regular-menu__wrapper .special-offer__time-wrapper {
   width: 100px;
   margin-bottom: 15px;
}
