
block variables

doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      title #{title}
      meta(name="keywords", content="burger, hotte, roll, sandwich, restaurant")
      meta(name="description", content="A web site of web studio who shows skills of web-progremmer by Durbala I.R.")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="apple-touch-icon", sizes="180x180", href="img/apple-touch-icon.png")
      link(rel="icon", type="image/png", sizes="32x32", href="img/favicon-32x32.png")
      link(rel="icon", type="image/png", sizes="16x16", href="img/favicon-16x16.png")
      link(rel="manifest", href="img/site.webmanifest")
      link(rel="mask-icon", href="img/safari-pinned-tab.svg", color="#5bbad5")
      block links
      link(rel="stylesheet", href="css/style.min.css")

      include ./../hd-ft/_header.pug

      main 
         block main

      include ./../hd-ft/_footer.pug

      block scripts
      script(src="js/main.min.js", defer)
      script(src="js/carousel.js", defer)  