mixin rectangle(webp, img, alt)

   div.wrapper-rectangle
      picture 
         source(type="image/webp", srcset="../../img/" + webp) 
         img.img-rectangle(src="../../img/" + img, alt="a" + alt, loading="lazy")
      .rectangles
      .bg-rectangle