// Pug Button

.bem-button {
   display: block;
   padding: 15px 30px;

   border-radius: 40px;
   border: none;
   outline: none;
   
   background-color: #FF702A;

   font-family: "Poppins", sans-serif;
   font-size: 15px;
   text-align: center;
   color: #ffffff;
   opacity: 1;

   &:hover {
      background-color: #dd6123;
      transition: all 0.3s ease;
   }

   &:focus {
      outline: 1px solid #000000;
   }

   &:active {
      opacity: 0.8;
      transition: none;
   }
}

// Pug Rectagle

.wrapper-rectangle {
   position: relative;
   width: 80px;
   height: 80px;

   .img-rectangle {
      display: none;
   }

   .rectangles {
      position: absolute;
      top: 2px;
      left: 2px;

      z-index: 2;

      width: 80px;
      height: 80px;

      border-radius: 12px;
   
      background-color: #FF702A;
   }

   .bg-rectangle {
      position: relative;
      z-index: 1;

      width: 80px;
      height: 80px;

      transform: rotate(45deg);
   
      border: 2px solid #F8D8C9;
      border-radius: 12px;
   }
}

// Pug Advantage

.advantage-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
   max-width: 280px;
   margin: 0 auto;
}

@media (min-width: 1300px) {
   .advantage-wrapper {
      margin: 0;
      max-width: 340px;
   }
}

.advantage-box {
   width: 70px;
   height: 70px;
   margin: 0 auto 20px auto;
   border-radius: 35px;

   background-color: #FFA77B;

   .advantage-icon {
      display: block;
      margin: 15px auto 0 auto;
   }
}

.advantage-container {
   max-width: 260px;
   margin: 0 auto;

   .advantage-title {
      margin-bottom: 15px;

      font-size: 25px;
      font-weight: 700;
      color: #ffffff;
   }

   .advantage-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #ffffff;
   }
}

@media (min-width: 1300px) {
   .advantage-container {
      max-width: 230px;
   }
}

// Pug Burgercard

.burgercard-wrapper {
   width: 100%;
   max-width: 450px;
   padding: 15px;
   margin: 0 auto 25px auto;
   border-radius: 15px;
   box-sizing: border-box;
   justify-self: center;

   background-color: #FEEEE7;
}

@media (min-width: 768px) {
   .burgercard-wrapper {
      width: 330px;
      margin: 0 0 10% 0;
   }
}

.burgercard-box {
   position: relative;

   width: 100%;
   height: 189px;
   border-radius: 15px;
   padding-top: 30px;
   margin-bottom: 20px;

   background-color: #ffffff;

   cursor: pointer;

   .img-burger {

      display: block;
      margin: 0 auto;
      width: 80%;
      max-width: 200px;
      height: auto;
   }
}

.burgerlist-wrappering {
   position: absolute;
   top: 0;
   z-index: 2;

   padding: 20px 20px;
   height: 0;
   width: 90.50%;

   border-radius: 15px;
   opacity: 0;
   transition: all 0.4s ease;

   background: linear-gradient(20deg, #CC0E15, #FF702A);

   color: #ffffff;

   .burgercard-title {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 2px;

      margin-bottom: 15px;
   }

   .burgercard-item {
      letter-spacing: 1px;
      margin-bottom: 10px;
   }
}

@media(min-width: 768px) {
   .burgerlist-wrappering {
      width: auto;
   }
}

.burgercard-box:hover .burgerlist-wrappering {
   opacity: 0.9;
   height: 180px;
   transition: height 0.4s ease, opacity 0.6s ease;
}

.burgercard-container {
   padding: 20px;
   border-radius: 15px;

   background-color: #ffffff;
}

.burgercard-heading {
   margin-bottom: 10px;

   font-size: 23px;
   font-weight: 700;
   line-height: 27px;
   color: #000000;
}

.burgercard-price {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.burgercard-price  .special-offer__price {
   width: 120px;
   align-self: center;
   margin-bottom: 15px;
}

@media (min-width: 370px) {
   .burgercard-price  .special-offer__price {
      margin-bottom: 0;
   }
}

//Pug Cardchef

.chefs-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 15px;
   border-radius: 15px;
   margin-bottom: 30px;

   background-color: #FEEEE7;

   font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
   .chefs-wrapper {
      padding: 20px;
   }
}

@media (min-width: 1300px) {
   .chefs-wrapper {
      width: 45%;
      text-align: left;
   }
}

.chefs-container {
   width: 100%;

   .chefs__img-wrapper {
      margin-bottom: 25px;
      border-radius: 15px;
      background-color: #ffffff;

      .chefs-img {
         display: block;
         margin: 0 auto;
      }
   }

   .chefs-name {
      margin-bottom: 15px;

      font-size: 25px;
      font-weight: 700;
      color: #0A0626;
   }

   .chefs-subtitle {
      display: block;
      margin-bottom: 25px;

      font-size: 16px;
      font-weight: 400;
   }
}

@media (min-width: 768px) {

   .chefs-container {
      width: 30%;
   }
}

@media (min-width: 1300px) {

   .chefs-container {
      width: 33%;
      text-align: center;
   }
}

@media (min-width: 768px) {

   .chefs-box {
      width: 60%;
      align-self: center;
   }
}

.chefs-text-about {
   margin-bottom: 20px;

   font-size: 17px;
   line-height: 30px;
   color: #494442;
}

.chefs-box .page-footer__box-social {
   margin: 0 auto 15px;
}

// Preview 

.previews {
   background-color: #101010;

   text-align: center;

   .previews-wrapper {
      padding: 80px 20px 200px 20px;

      background-image: url('../img/bubble.svg');
      background-repeat: no-repeat;
      background-size: 200px 200px;
      background-position: 50% 55%;
   }

   .previews-title {
      font-family: "Poppins", sans-serif;
      font-size: 40px;
      font-weight: 700;
      color: #ffffff;
   }
}

@media (min-width: 768px) {
   .previews {
      padding: 40px 60px;

      text-align: left;
      
      .previews-wrapper {
         max-width: 840px;
         margin: 0 auto;

         background-size: 330px 330px;
         background-position: 85% 55%;
      }
      
      .previews-title {
         font-size: 50px;
      }
   }
}

@media (min-width: 1300px) {
   .previews {
      padding: 0;

      text-align: left;
      
      .previews-wrapper {
         max-width: 1100px;
         padding: 100px 60px 100px 70px;
         margin: 0 auto;

         background-size: 150px 150px;
         background-position: 60% 40%;
      }
      
      .previews-title {
         font-size: 50px;
      }
   }
}

// News Card

.newscard-link {
   position: relative;
   bottom: 0;

   display: block;
   margin-bottom: 40px;
   border-radius: 15px;
   opacity: 1;

   background-color: #FFF4ED;

   transition: bottom 0.3s ease;

   font-family: "Poppins", sans-serif;
   cursor: pointer;

   &:hover {
     bottom: 20px;
     transition: bottom 0.3s ease;
   }

   &:active {
      opacity: 0.8;
      transition: none;
   }
   
    &:focus {
      outline: 1px solid #000000;
   } 

   .newscard-img {
      width: 100%;
      height: 204px;
      object-fit: cover;

      border-radius: 15px 15px 0 0;
   }

   .newscard-data {
      position: absolute;
      top: 185px;
      left: 20px;

      display: block;
      width: 140px;
      padding: 10px 15px;
      border-radius: 25px;

      text-align: center;
      font-weight: 500;
      font-size: 15px;
      color: #ffffff;

      background: linear-gradient(20deg, #FF702A, #CC0E15);
   }
}

@media (min-width: 768px) {

   .newscard-link {
      width: 47%;
      max-width: 400px;

      .newscard-data {
         left: 27px;
      }
   }
}

@media (min-width: 1300px) {

   .newscard-link {
      width: 30%;
      max-width: 400px;
      margin-bottom: 50px;
   }
}

.newscard-container {
   padding: 50px 20px;

   .newscard-title {
      margin-bottom: 20px;

      font-size: 25px;
      line-height: 30px;
      font-weight: 600;
   }

   .newscard-text {
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
   }
}

@media (min-width: 768px) {
   
   .newscard-container {
      padding: 50px 30px;
   }
}

// Catageory 

.catageory__text {
   margin-bottom: 20px;
   padding: 20px;
   border: 2px solid #E0E1E1;
   border-radius: 5px;

   color: #78787C;
}

// Post

.post-wrapper {
   display: flex;
   justify-content: space-between;
   max-width: 335px;
   margin-bottom: 25px;

   .post__img {
      width: 100px;
      height: 100px;
      border-radius: 5px;

      background-color: #FFF4ED;
   }
}

.post__box {
   width: 55%;

   .post__time {
      display: block;
      margin-bottom: 10px;
      color: #FF702A;
   }

   .post__text {
      line-height: 25px;
   }
}

// Tags

.tags-button {
   display: block;
   margin: 0 10px 10px 0;
   padding: 20px;
   border: 2px solid #E0E1E1;
   border-radius: 5px;
   background-color: transparent;

   opacity: 1;

   flex-grow: 1;

   &:hover {
      border: none;

      background: linear-gradient(20deg, #FF702A, #CC0E15);

      color: #ffffff;
   }

   &:active {
      opacity: 0.8;
   }
}

// Comment

.comment-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-bottom: 50px;
}

@media (min-width: 1000px) {

   .comment-wrapper{
      width: 62%;
      justify-content: flex-start;
   }
}

.comment__box {
   width: 90px;
   height: 90px;
   border-radius: 10px;
   margin-bottom: 20px;

   background-color: #FF702A;
}

@media (min-width: 1000px) {

   .comment__box{
      margin-right: 35px;
   }
}

.comment__container {

   .comment__title {
      margin-bottom: 10px;

      font-size: 20px;
      font-weight: 600;
   }

   .comment__subtitle {
      display: block;
      margin-bottom: 20px;

      font-size: 15px;
      color: #696969;
   }

   .comment__text {
      margin-bottom: 25px;

      font-size: 15px;
      line-height: 30px;
      font-weight: 400;
      color: #78787C;
   }

   .comment__button {
      position: relative;

      display: block;
      padding: 15px 65px;
      border: none;
      border-radius: 5px;

      opacity: 1;

      background: linear-gradient(20deg, #FF702A, #CC0E15);

      color: #ffffff;

      &:hover {
         background: linear-gradient(90deg, #FF702A, #CC0E15);
      }

      &:active {
         opacity: 0.7;
      }

      .comment__icon {
         position: absolute;
         top: 14px;
         left: 25px;
      }
   }
}

@media (min-width: 1000px) {

   .comment__container {
      width: 76%;
   }
}